.descriptionDiv {
    background: url('../img/louis-hansel-SQfLjVmZkDY-unsplash.jpg');
    height: 300px;
    width: 100vw;
    background-position: 100% 0px;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.textDiv {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.description {
    /* background-color: #fff5eb; */
    font-size: 20px;
    margin: 15px;
    padding: 10px;
}

@media (min-width: 700px) {
    .descriptionDiv {
        background-position: 100% -40px;
    }
}

@media (min-width: 900px) {
    .descriptionDiv {
        background-position: 100% -65px;
    }
}

@media (min-width: 1000px) {
    .descriptionDiv {
        background-position: 100% -100px;
    }
}

@media (min-width: 1150px) {
    .descriptionDiv {
        background-position: 100% -140px;
    }
}

@media (min-width: 1300px) {
    .descriptionDiv {
        background-position: 100% -170px;
    }
}

@media (min-width: 1400px) {
    .descriptionDiv {
        background-position: 100% -180px;
    }
}

@media (min-width: 1450px) {
    .descriptionDiv {
        background-position: 100% -190px;
    }
}

@media (min-width: 1500px) {
    .descriptionDiv {
        background-position: 100% -230px;
    }
}

@media (min-width: 1700px) {
    .descriptionDiv {
        background-position: 100% -250px;
    }
}

@media (min-width: 2000px) {
    .descriptionDiv {
        background-position: 100% -310px;
    }
}