.recommendation {
    margin: 25px auto 0 auto;
    border-radius: 20px;
    padding-bottom: 30px;
    width: max-content;
    padding: 0px 20px 20px 20px;
}

.recommendation form {
    margin-top: 30px;
}

.recommendation form input {
    padding: 11px;
    border: 2px solid #722f37;
    border-radius: 10px;
    color: #722f37;
    font-size: 18px;
    margin-right: -10px;
    width: 500px;
}
  
.recommendation form input:focus {
    outline: none;
    border: 3px solid #722f37;
}
  
.recommendation .getrecommendation {
    margin-left: -10px;
    padding: 11px 7px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    border: 2px solid #722f37;
    background: #fff;
    color: #722f37;
    cursor: pointer;
}
  
.recommendation .getrecommendation:hover {
    background: #722f37;
    border: 2px solid #722f37;
    color: #fff;
}
  
.recommendation .getrecommendation:focus {
    outline: none;
}

.recommendationContainer > div {
    display: flex;
    flex-wrap: inherit;
    flex-direction: inherit;
}

/* .recommendationsImages > img {
    display: block;
    margin: 10px auto;
} */

@media (min-width: 200px) {
    .weatherCardContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto 0 auto;
        width: 50%;
    }

    .recommendation form input {
        padding: 11px;
        border: 2px solid #722f37;
        border-radius: 10px;
        margin-right: 2px;
        width: 150px;
    }
}

@media (min-width: 350px) {
    .recommendation form input {
        padding: 11px;
        border: 2px solid #722f37;
        border-radius: 10px;
        margin-right: 2px;
        width: 300px;
    }
}

@Media (max-width: 500px) {
    .recommendation form {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 750px) {
    .recommendation form input {
        padding: 11px;
        border: 2px solid #722f37;
        border-radius: 10px;
        margin-right: 2px;
        width: 500px;
    }
}

@media (min-width: 900px) {
    .weatherCardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 20px 2px 0 2px;
        width: 100%;
    }
}